<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header font-weight-bold">Login</div>
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a routerLink="/signup">
                            <button type="button" class="btn btn-dark">
                                Register
                            </button>
                        </a>
                    </div>
                    <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
                        <div class="form-group mt-2">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                            <div *ngIf="email?.value && email?.errors" class="text-danger my-2">
                                {{messages.EMAIL_ERROR_VALIDATION}}
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                required>
                            <div *ngIf="password?.value && password?.errors" class="text-danger my-2">
                                {{messages.PASSWORD_ERROR_REQUIRED}}
                            </div>
                        </div>
                        <div class="center">
                            <button type="submit" class="btn btn-dark mt-4">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>